[Desktop Entry]
Name=FluffyChat
GenericName=Matrix Client
Comment=Chat with your friends
Exec=fluffychat
Icon=fluffychat
Terminal=false
Type=Application
Categories=Network;Chat;InstantMessaging;
StartupWMClass=chat.fluffy.fluffychat
X-AppImage-Version=2.6.0
